# Object directory
**/obj/

# Backup
**/bak/

# VIM swap files
**/*.swp

# vscode
**/.vscode/

# binary
project

# ext directory
**/DRAMsim3/
**/gem5/
**/gem5-dramsim3/

# shared libraries
**/src/*.so

# Report
**/report/
